@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
  color: #fff;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: auto;
  height: 100%;
  padding: 0;
  text-align: center;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("/Images/Backgrounds/background7.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
}

/*.footer {
  overflow: hidden;
  position: fixed;
  left: auto;
  right: auto;
  bottom: 0;
  color: white;
  text-align: center;
}*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  margin-top: 25px;
  position: fixed;
}

.body {
  padding-bottom: 20px;
}

.pagetitle {
  margin-top: 75px;
}

form {
  margin-top: 200px;
}

.header {
  position: fixed;
}

.ul {
  list-style-type: none;
}
